body {
    margin: 0;
    padding: 0
}

img {
    width: 100%;
}

canvas {
    background-color: red;
}

.mouse-icon {
    width: 80px;
    height: 80px;
}

.topSection {
    height: 15%;
}

.bottomSection {
    height: 15%;
}

button {
    background-color: lightgreen;
}