body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
    font-style: bold;
}

h3 {
    font-size: 12px;
    font-style: oblique;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
}

canvas {
    display: block;
}

.mouse-icon {
    width: 60%;
    height: 70%;
}

.topSection {
    height: 50%;
}

.bottomSection {
    height: 15%;
}